version: "3.9"

services:
  app:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
